*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }


body {
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif

}

h3{
  color: white
}

h5{
  color: white
}

svg {
  fill: white;

}
/* the main container */

/* .front-side,
.back-side {
  width: 390px;
  height: 220px;
  position: relative;
  margin: 20px auto;
  overflow: hidden;
  box-shadow: 2px 5px 15px 0px #17161694;
  background-color:antiquewhite;
} */

/* .front-side{
  background-image: url('cloud.svg');
} */

.name{
  margin-top: 10%;
  margin-left: 100%;
  display: grid;
  position: relative;
  margin-left:30px;
  padding: 10px

}

.secondary{
  display: grid;
  position: relative;
  margin-left:30px;

}

.icon-container{
  width: 75%;
  display:grid;
  position:fixed;
  left: 160px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
  "a b c";
  border: 20px solid white;
}



